// Primary color

$primary-color-100: #F3F7FA; 
$primary-color-200: #4BA8A8; 
$primary-color-300: #005555; 
$primary-color-400: #299702; 

// secondary color

$secondary-color-100: #F8B400;


// shade of grey

$grey-color-100: #F3F4F8;
$grey-color-200: #FBFAFF;
$grey-color-300: #E8EDF1;
$grey-color-400: #738383;
$grey-color-500: #1E1E1E;
$grey-color-600: #8C97A8;
$grey-color-700: #768396;



// shade of purple
$purple-color-100: #E7E7FF;


// generic color

$white: #ffffff;
$black: #000000;